*.user
*-Debug/
*-Release/
*.tlog
*.log
*.vs
*_qmlcache.qrc
*.filters
*.stash
debug/
release/
rep_*
.DS_Store
build-fudaojun_app
Win32/
*-pre1
project.pro.user.*
fudaojun_app/res/images/player/lib/curllib.lib
fudaojun_app/res/images/player/lib/libeay32.lib
fudaojun_app/res/images/player/lib/openldap.lib
fudaojun_app/res/images/player/lib/qiniu.lib
fudaojun_app/res/images/player/lib/ssleay32.lib
#  MacBuild
build_qt/**
build/**

Release/**